{% extends "layout.html" %}
{% block content %}

<!-- Graphs -->
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Export</button>
                <button class="btn btn-sm btn-outline-secondary", onclick="chartToggleTrain()">Train</button>
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle", onclick="chartToggleLegend()">
                    <span data-feather="calendar"></span>
                    Legend
                </button>
            </div>
        </div>
    </div>

    <canvas class="my-4 w-100" id="myChart" width="900" height="600"></canvas>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
     var ctx = document.getElementById("myChart");
     var chart = new Chart(ctx, {
         type: 'line',
         data: {{ chart | tojson | safe }},
         options: {
             scales: {
                 yAxes: [{
                     ticks: {
                         beginAtZero: false
                     }
                 }]
             },
             tooltips: {
                 mode: 'index'
             },
             legend: {
                 display: false,
             }
         }
     });

     var showTrain = false;

     function filterElements(elements, input, prefix) {
         let prefix_size = prefix.length;
         for (let tr of elements) {
             if (!tr.id.startsWith(prefix)) {
                 continue;
             }
             let value = tr.id.slice(prefix_size);
             if (value.match(input)) {
                 tr.style.display = "";
             } else {
                 tr.style.display = "none";
             }
         }
     }

     function searchInput() {
         // Declare variables
         let input = document.getElementById('searchInput').value;

         // filter Configuration table
         let trs = document.getElementById("{{ Global.conf_table_id }}")
                           .getElementsByTagName('tr');
         filterElements(trs, input,
                        "{{ Global.conf_table_row_prefix }}");

         // filter Attention accordion
         let cards = document.getElementById("accordion") // FIXME: use Global.attention_accordion_id
                             .getElementsByClassName('card');
         filterElements(cards, input,
                        "{{ Global.attention_accordion_prefix }}");

         // TODO filter chart
         for (let d of chart.data.datasets) {
             if (d.label.match(input)) {
                 if (d.isTrain && !showTrain) continue;
                 d.hidden = false;
             }
             else {
                 d.hidden = true;
             }
         }
         chart.update();
     }

     function chartToggleLegend() {
         chart.options.legend.display = !chart.options.legend.display;
         chart.update();
     }

     function chartToggleTable(tableLabel, labels) {
         for (let d of chart.data.datasets) {
             if (labels.indexOf(d.label) == -1) {
                 continue;
             }
             if (d.hidden) {
                 if (d.isTrain && !showTrain) continue;
                 d.hidden = false;
                 document.getElementById("{{ Global.conf_table_row_prefix }}" + tableLabel).style.backgroundColor = d.tableBackgroundColor;
                 document.getElementById("{{ Global.conf_table_val_prefix }}" + tableLabel).style.backgroundColor = d.pointBackgroundColor;
             }
             else {
                 document.getElementById("{{ Global.conf_table_row_prefix }}" + tableLabel).style.backgroundColor = "white";
                 document.getElementById("{{ Global.conf_table_val_prefix }}" + tableLabel).style.backgroundColor = "transparent";
                 d.hidden = true;
             }
         }
         chart.update();
     }

     function chartToggleTrain() {
         showTrain = !showTrain;
         for (let d of chart.data.datasets) {
             if (!d.isTrain) {
                 continue;
             }
             if (d.hidden) {
                 d.hidden = false;
             }
             else {
                 d.hidden = true;
             }
         }
         searchInput();
         chart.update();
     }
    </script>


    <h2>Configuration</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm table-bordered" id="{{ Global.conf_table_id }}">
            {{ conf_table | safe }}
        </table>
    </div>

    <h2>Attention</h2>
    <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
        {% for results in results_list %}
        <div class="card" style="background-color: {{ results.rgba }}" id="{{ Global.attention_accordion_prefix }}{{ results.label }}">
            <div class="card-header" role="tab" id="heading{{ results.color_s }}">
                <h8 class="mb-0">
                    <a class="text-body" data-toggle="collapse" href="#collapse{{ results.color_s }}" role="button"
                       aria-expanded="false" aria-controls="collapse{{ results.color_s }}">
                        {{ results.label }}
                    </a>
                </h8>
            </div><!-- /.card-header -->
            <div id="collapse{{ results.color_s }}" class="collapse" role="tabpanel"
                 aria-labelledby="heading{{ results.color_s }}" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        {% for f, b in results.att().items() %}
                        <figure class="figure img-fluid">
                            <img src="data:image/png;base64,{{b}}" class="figure-img img-fluid rounded" alt="{{f}}">
                            <figcaption class="figure-caption">{{f}}</figcaption>
                        </figure>
                        {% endfor %}
                    </div>
                </div><!-- /.card-body -->
            </div><!-- /.collapse -->
        </div><!-- /.card -->
        {% endfor %}
    </div><!-- /#accordion -->

</main>
{% endblock %}
