{% extends "layout.html" %}
{% block content %}

<h2>Configuration</h2>
<div class="table-responsive">
<table class="table table-striped table-sm table-bordered">
{{ conf_table | safe }}
</table>
</div>

<h2>Attention</h2>
{% for results in results_list %}
<div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="heading{{ results.color_s }}">
      <h7 class="mb-0">
        <a class="text-body" data-toggle="collapse" href="#collapse{{ results.color_s }}" role="button" aria-expanded="false" aria-controls="collapse{{ results.color_s }}">
        {{ results.label }}
        </a>
      </h7>
    </div><!-- /.card-header -->
    <div id="collapse{{ results.color_s }}" class="collapse" role="tabpanel" aria-labelledby="heading{{ results.color_s }}" data-parent="#accordion">
      <div class="card-body">
        <div class="row">
        {% for f, b in results.att().items() %}
        <figure class="figure img-fluid">
          <img src="data:image/png;base64,{{b}}" class="figure-img img-fluid rounded" alt="{{f}}">
          <figcaption class="figure-caption">{{f}}</figcaption>
        </figure>
        {% endfor %}
        </div>
      </div><!-- /.card-body -->
    </div><!-- /.collapse -->
  </div><!-- /.card -->
</div><!-- /#accordion -->
{% endfor %}

 <!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
var ctx = document.getElementById("myChart");
new Chart(ctx, {
    type: 'line',
    data: {{ chart | tojson | safe }},
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: false
                }
            }]
        },
        tooltips: {
             mode: 'index'
        },
        legend: {
            display: true,
        }
    }
});
</script>
{% endblock %}
